.u-heading-small {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #a1a9b2;
}

.u-heading-big {
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.u-text-light {
  color: var(--color-light-gray);
  line-height: 24px;
}

.u-text-light-small {
  color: var(--color-light-gray);
  line-height: 24px;
  font-size: 12px;
}

.u-text-black {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.u-text-main-info {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark);
}

.u-half-big-margin {
  margin-bottom: 32px;
}

:root {
  --color-gray-muted: #ced3d9;
  --color-light-gray: #a1a9b2;
  --color-dark: #3b3943;
  --color-purple: #593eb5;
  --color-purple-light: #bdb2e1;
  --color-purple-muted: #eeecf7;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.button-registration {
  padding: 8px 16px;
  background-color: #bdb2e1;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.button-status,
.button-comment {
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--color-purple);
}

.button-signature {
  padding: 4px 8px;
  font-weight: 700;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  background-color: #76b852;
}

.main {
  background-color: #eeecf769;
  width: 100%;
}
.main__heading {
  width: 100%;
}
.main__heading i {
  color: var(--color-gray-muted);
}
.main__heading--section-route {
  font-weight: 700;
  color: var(--color-purple);
}
.main__data {
  background-color: #fff;
  height: 684px;
}
.main__data--heading-country, .main__data--item-country {
  flex: 0 0 19%;
}
.main__data--heading-createdby, .main__data--item-createdby {
  flex: 0 0 12%;
}
.main__data--heading-createdat, .main__data--item-createdat {
  flex: 0 0 13%;
}
.main__data--heading-progress, .main__data--item-progress {
  flex: 0 0 27%;
}
.main__data--heading-status, .main__data--item-status {
  flex: 0 0 18%;
}
.main__data--heading-update, .main__data--item-update {
  flex: 0 0 1;
}
.main__data--heading {
  width: 100%;
  color: var(--color-light-gray);
}
.main__data--items-status {
  flex: 0 0 50%;
  padding-right: 15%;
}
.main__data--items-info {
  flex: 0 0 50%;
  padding-right: 20%;
}
.main__data--items i {
  color: #fff;
}
.main__data--items .fa-edit {
  color: var(--color-purple) !important;
}
.main__data--item-active {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.main__data--item-progress-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-gray-muted);
  color: var(--color-gray-muted);
  font-size: 12px;
  margin-right: 8px;
}
.main__data--item-progress-box-checked {
  border: none;
  background-color: var(--color-purple);
  color: #fff;
  font-weight: 400;
}

.subheader__categories {
  list-style-type: none;
  border-bottom: 1px solid #F5F6F7;
}
.subheader__categories--item {
  border-bottom: 5px solid transparent;
}
.subheader__categories--item-active {
  border-bottom: 3px solid var(--color-purple);
}
.subheader__categories--item-active a {
  color: var(--color-purple) !important;
  font-weight: 700 !important;
}
.subheader__categories--item a {
  text-decoration: none;
  font-size: 14px;
  color: var(--color-dark);
  font-family: "Asap", sans-serif;
}

.main__header {
  padding-left: 17.5px;
  width: 100%;
  background-color: #fff;
}
.main__header--item {
  border-right: 2px solid rgba(223, 223, 223, 0.329);
}
.main__header--item i {
  font-size: 16px;
  color: var(--color-purple);
}
.main__header--user-nav-notification {
  background-color: red;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 10px;
}
.main__header--user-nav-notification-box {
  position: relative;
  margin-right: 40px;
}
.main__header--user-nav i {
  font-size: 24px;
}
.main__header--user-nav-name {
  color: var(--color-dark);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
a {
  font-size: 14px;
  font-family: "Asap", sans-serif;
  margin-bottom: 0;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.sidenav {
  flex: 0 0 15%;
}

.main {
  flex: 1;
}

.sidenav {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(223, 223, 223, 0.329);
}
.sidenav i {
  color: var(--color-light-gray);
  font-size: 24px;
  flex: 0 0 25%;
  font-weight: 600;
}
.sidenav a {
  flex: 1;
}
.sidenav__logo {
  border-bottom: 1px solid #CED3D9;
}
.sidenav__logo img {
  margin-right: 35px;
}
@media only screen and (max-width: 1400px) {
  .sidenav__logo img {
    margin-right: 15px;
  }
}
.sidenav__main--list-item {
  padding-top: 12px;
  padding-bottom: 12px;
}
.sidenav__main--list-item-active {
  background-color: var(--color-purple-muted);
  border-left: 4px solid var(--color-purple);
}
.sidenav__main--list-item-active a, .sidenav__main--list-item-active i {
  color: var(--color-purple) !important;
  font-weight: 700;
}
.sidenav__main--list-item-active a {
  transform: translateX(-4px);
}
.sidenav__main--list-item a {
  text-decoration: none;
  color: var(--color-dark);
  line-height: 20px;
}
.sidenav__main--heading {
  color: var(--color-gray-muted) !important;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
