.footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: "Sora", sans-serif;

  &__top,
  &__bottom {
    padding: 0 20rem;

    @media only screen and (min-width: 1800px) {
      padding: 0 40rem;
    }

    @media only screen and (min-width: 2200px) {
      padding: 0 60rem;
    }

    @media only screen and (max-width: 90rem) {
      padding: 0 10rem;
    }
  }

  &__top {
    @include flexAlignJustifyStart;
    width: 100%;
    background-color: #293c51;
    padding-top: 6rem;

    @media only screen and (max-width: 768px) {
      @include flexColumnCenterCenter;
    }

    &--questions,
    &--updates {
      @include flexColumnStartStart;
      flex: 0 0 50%;
      height: 44rem;

      @media only screen and (max-width: 950px) {
        height: 48rem;
      }
    }

    &--questions-title,
    &--updates-title {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3rem;
      color: #fff;
      margin-bottom: 1.8rem;
    }

    &--questions-text,
    &--updates-text {
      font-size: 1.6rem;
      line-height: 2rem;
      color: var(--color-white-opacity);
      margin-bottom: 2rem;
    }

    &--questions-input,
    &--updates-input {
      width: 100%;
      & input,
      & textarea {
        border: none;
        background-color: #293c51;
        font-family: "Sora", sans-serif;
        padding: 2rem 3rem 2rem 0;
        border-bottom: 1px solid #49627D;
        width: 100%;
        color: var(--color-white-opacity);

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: var(--color-white-opacity);
        }
      }

      & textarea {
        width: 100%;
        margin-right: 0 !important;
        resize: none;
      }
    }

    &--questions {
      padding-right: 8rem;
      width: 100%;
      
      @media only screen and (max-width: 768px) {
        padding-right : 0;
        margin-bottom: 3rem;
      }

      &-input {
        @include flexAlignJustifyStart;

        & :first-child {
          margin-right: 2.5rem;
        }
      }

      &-send,
      &-signup {
        border-radius: 3px;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: #F4F8FF;
      }

      &-send {
        background-color: var(--color-blue);
        padding: 1.3rem 6rem;
        border: none;
      }

      &-signup {
        border: 1px solid #F4F8FF;
        background-color: inherit;
        padding: 1.2rem;
        width: 13.5rem;
      }
    }

    &--updates {
      padding-left: 6rem;

      @media only screen and (max-width: 768px) {
        padding-left : 0;
        width: 100%;
        margin-bottom: 4rem;
      }

      &-input {
        @include flexAlignCenter
      }

      &-follow {
        @include flexAlignJustifyStart;

        &-image {
          margin-right: 1.5rem;
        }
      }
    }
  }

  &__bottom,
  &__bottom a {
    color: var(--color-white-opacity);
    font-size: 1.4rem;
  }

  &__bottom {
    @include flexAlignJustifyBetween;
    background-color: #243547;
    padding-top: 5.4rem;
    padding-bottom: 4.4rem;

    @media only screen and (max-width: 768px) {
      @include flexColumnCenterCenter;

      & p:first-child {
        margin-bottom: 2rem;
      }
    }
  }

  &__bottom a,
  &__bottom a:hover,
  &__bottom a:focus,
  &__bottom a:active {
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
  }
}
