.main__header {
  padding-left: 17.5px;
  width: 100%;
  background-color: #fff;

  &--item {
    border-right: 2px solid rgba(223, 223, 223, 0.329);
    &-data {
      &-text {
      }
    }

    & i {
      font-size: 16px;
      color: var(--color-purple);
    }
  }

  &--user-nav {
    &-notification {
      background-color: red;
      border: 3px solid #fff;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 10px;

      &-box {
        position: relative;
        margin-right: 40px;
      }
    }

    & i {
      font-size: 24px;
    }

    &-name {
      color: var(--color-dark);
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
