* {
  margin: 0;
  padding: 0;
}

$bp-large: 68.75em; //1100px;

html {
  box-sizing: border-box;
  // font-size: 62.5%; //1rem = 10px;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; //1rem = 8px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
a {
  font-size: 14px;
  font-family: "Asap", sans-serif;
  margin-bottom: 0;
}
