* {
    margin: 0;
    padding: 0;
}

body {
    & > * {
        padding: 0 20rem;

        @media only screen and (min-width: 2000px) {
          padding: 0 40rem;
        }

        @media only screen and (max-width: 90rem) {
          padding: 0 10rem;
        }
    }
}

:root {
    --color-blue: rgba(26, 110, 252, 1);
    --color-gray-ultra-light: #F4F8FF;
    --color-gray-light: #7B95B0;
    --color-gray-medium: #62738A;
    --color-gray: #49627D;
    --color-gray-dark: #293C51;
    --color-gray-ultra-dark: #243547;
    --color-dark: #1A2332;
    --color-white-opacity: rgba(255, 255, 255, 0.6);
    --main-border: 1px solid #DFE3EC;
}

$bp-largest: 75em;    //1200px; 
$bp-large: 68.75em;    //1100px; 
$bp-medium: 56.25em;    //900px; 
$bp-small: 37.5em;    //600px; 
$bp-smallest: 31.25em;    //500px; 

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;  //1rem = 8px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p {
    font-size: 1.4rem;
    font-family: "Sora", sans-serif;
}

