.cards {
  background-color: #f8f9fc;

  &__heading {
    padding-top: 9rem;
    padding-bottom: 9rem;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
    color: #222151;
  }

  &-container {
    @include flexAlignJustifyBetween;
    padding-bottom: 10rem;
    flex-wrap: wrap;

    @media only screen and (max-width: 768px) {
      @include flexColumnCenterCenter;
    }

    &--card {
      flex: 0 0 24%;
      background: #fff;
      min-height: 31rem;
      padding: 3.3rem 4.4rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      font-family: "Sora", sans-serif;

      @media only screen and (max-width: 1000px) {
        flex: 0 0 48%;
        margin-bottom: 2rem;
      }

      &-title {
        padding-top: 3.6rem;
        padding-bottom: 2rem;font-weight: 600;
        font-size: 2.4rem;
        line-height: 3rem;
        color: #222151;
      }

      &-text {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #535C6D;
      }
    }
  }
}
