.contact {
  &__message {
    @include flexAlignStart;
    width: 100%;
    padding: 6.1rem 5.4rem;
    background-color: #fff;
    border: var(--main-border);
    border-radius: 6px;
    transform: translateY(-10rem);

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    &--address {
      @include flexAlignStart;
      padding-right: 5rem;
      
      @media only screen and (max-width: 768px) {
          @include flexAlignStartJustifyCenter;
          margin-bottom: 3rem;
          padding-bottom: 2rem;
          border-bottom: var(--main-border);
        }

      &-image {
        @include flexAlignJustifyCenter;
        margin-right: 3.5rem;
        background-color: rgba(26, 110, 252, 0.1);
        width: 4.2rem;
        height: 4.2rem;
        padding: 0 2rem;
        border-radius: 50%;
      }

      &-text {

        &-heading {
          font-weight: 600;
          font-size: 2rem;
          line-height: 2.5rem;
          color: #222151;
          margin-bottom: 1.3rem;
          padding-top: 1rem;
        }

        & p {
          color: var(--color-gray-subtle-dark);
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
      }
    }

    &--inputs {
      border-left: var(--main-border);
      padding-left: 6.7rem;
      width: 100%;

      @media only screen and (max-width: 768px) {
        border-left: none;
      }

      & input,
      & textarea {
        border: none;
        font-family: "Sora", sans-serif;
        padding: 2rem 3rem 2rem 0;
        border-bottom: var(--main-border);
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      & label {
        font-weight: bold;
        font-size: 1.4rem;
        font-family: "Sora", sans-serif;
        line-height: 1.8rem;
        color: var(--color-dark);
      }

      &-items {
        @include flexAlignJustifyStart;
        margin-bottom: 3.4rem;
      }

      &-textarea {
        & textarea {
          resize: none;
        }
      }

      &-button {
        background-color: var(--color-blue);
        padding: 1.3rem 6rem;
        border: none;
        border-radius: 3px;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: #f4f8ff;
      }
    }
  }

  &__options {
    @include flexAlignStartJustifyBetween;
    transform: translateY(-9rem);

    @media only screen and (max-width: 768px) {
      flex-direction: column;

      & > * {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    &--sale {
      flex: 0 0 31.5%;
      border: var(--main-border);
      padding: 5rem 6rem 5rem 10rem;
      height: 34rem;
      border-radius: 8px;
      padding-top: 5rem;
      padding-left: 10rem;

      @media only screen and (max-width: 1900px) {
        padding: 5rem 3rem 5rem 5rem;
      }

      @media only screen and (max-width: 900px) {
        padding: 2rem 0;
        @include flexColumnCenterStart;
        height: 24rem;
      }
    }

    &--heading {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3rem;
      color: #222151;
      margin-bottom: 2rem;
    }

    &--item {
      @include flexAlignCenter;
      padding-bottom: 2rem;

      &-text {
        margin-left: 1.1rem;
        font-size: 1.8rem;
        color: rgba(83, 92, 109, 1);
      }
    }

    &--text {
      font-size: 1.8rem;
      color: rgba(83, 92, 109, 1);
      padding-bottom: 2rem;
    }
  }
}
