.opportunities {
  margin-top: 3rem;

  &__items {
    width: 100%;
    overflow-x: hidden;
  }

  &__heading--items {
    padding: 1.4rem 4rem;
  }
  // STYLING OPPORTUNITY ITEMS ON SCREEN 1
  &__heading--item-number,
  &__list--item-element-number {
    flex: 0 0 25%;
  }
  &__heading--item-agency,
  &__list--item-element-agency {
    flex: 0 0 20%;
  }
  &__heading--item-title,
  &__list--item-element-title {
    flex: 31%;
  }
  &__heading--item-start,
  &__list--item-element-start {
    flex: 0 0 12%;
  }
  &__heading--item-end,
  &__list--item-element-end {
    flex: 1;
  }

  // STYLING OPPORTUNITY ITEMS ON SCREEN 2

  .id {
    flex: 0 0 20%;
    margin-right: 4rem;
    :not(:first-child) {
      padding: 0.8rem;
      border: var(--main-border);
      width: 16rem;
    }
  }
  .type {
    flex: 0 0 10%;
  }

  .title {
    flex: 0 0 45%;
  }

  // STYLING OF HEADING ON OPPORTUNITIES
  &__heading {
    @include headingLayout;

    &--symbol {
      margin-right: 2rem;
    }

    &--items {
      @include flexAlignCenter;
      width: 100%;
      background-color: #f8f9fc;
      border-right: var(--main-border);
      border-left: var(--main-border);
      border-bottom: var(--main-border);

      @media only screen and (max-width: 850px) {
        display: none;
      }
    }

    &--item {
      &-start {
        margin-right: 1rem;
      }
      &-start,
      &-end {
        @include flexAlignCenter;

        & p {
          margin-right: 1rem;
        }
      }
    }
  }

  &__list {
    width: 100%;

    &--item {
      @include flexAlignCenter;
      width: 100%;
      padding: 1rem 4rem;
      color: var(--color-gray-subtle-dark);

      &:not(:last-child) {
        border-bottom: var(--main-border);
      }

      &-element {
        @include flexAlignCenter;
        width: 100%;

        @media only screen and (max-width: 786px) {
          flex-direction: column;
        }
        & > * {
          @include flexAlignCenter;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-right: 2rem;
          color: rgba(83, 92, 109, 1);
        }

        &-number {
          & img {
            margin-right: 2rem;
          }
        }

        & p {
          @media only screen and (max-width: 850px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
