.opportunities {
  margin-top: 3rem;

  &__items {
    width: 100%;
    overflow-x: hidden;
  }

  &__heading--items {
    padding: 1.4rem 4rem;
  }

  &__heading--item-number,
  &__list--item-element-number {
    flex: 0 0 25%;
  }
  &__heading--item-agency,
  &__list--item-element-agency {
    flex: 0 0 20%;
  }
  &__heading--item-title,
  &__list--item-element-title {
    flex: 31%;
  }
  &__heading--item-start,
  &__list--item-element-start {
    flex: 0 0 12%;
  }
  &__heading--item-end,
  &__list--item-element-end {
    flex: 1;
  }

  &__heading {
    @include headingLayout;

    &--symbol {
      margin-right: 2rem;
    }

    &--text {
    }

    &--items {
      @include flexAlignCenter;
      width: 100%;
      background-color: #f8f9fc;
      border-right: 1px solid #dfe3ec;
      border-left: 1px solid #dfe3ec;
      border-bottom: 1px solid #dfe3ec;
    }

    &--item {
      &-start {
        margin-right: 1rem;
      }
      &-start,
      &-end {
        @include flexAlignCenter;

        & p {
          margin-right: 1rem;
        }
      }
    }
  }

  &__list {
    width: 100%;

    &--item {
      @include flexAlignCenter;
      width: 100%;
      padding: 1rem 4rem;
      color: #535c6d;

      &:not(:last-child) {
        border-bottom: 1px solid #dfe3ec;
      }

      &-element {
        @include flexAlignCenter;
        width: 100%;
        & > * {
          @include flexAlignCenter;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-right: 2rem;
          color: rgba(83, 92, 109, 1);
        }

        &-number {

          & img {
            margin-right: 2rem;
          }
        }

        // &-start {

        //   & p {
        //     margin-right: 1rem;
        //   }
        // }

        // &-end {

        //   & p {
        //     margin-right: 1rem;
        //   }
        // }
      }
    }
  }
}
