.form {
  width: 40vw;
  background: #fff;
  border: var(--main-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: "Sora", sans-serif;

  &__container {
    background-color: #f8f9fc;
    padding-top: 9rem;
    padding-bottom: 9rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__header {
    @include flexAlignJustifyCenter;
    border-bottom: var(--main-border);
    padding: 2.5rem 0;

    &--text {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 2.7rem;
    }
  }

  &__info {
    padding: 4rem 4rem 2rem 4rem;

    &--input {
      @include flexColumnStartCenter;
      padding: 2rem 3rem 2rem 0;
      width: 100%;

      &-container {
        @include flexAlignCenter;
      }
    }

    & label {
      font-weight: 700;
      color: var(--color-dark);
      font-size: 1.4rem;
    }

    & input,
    & select {
      width: 100%;
      border: none;
      border-bottom: var(--main-border);
      padding: 2rem 3rem 1.5rem 0;
      font-family: "Sora", sans-serif;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--color-gray-subtle-dark);
        font-size: 1.4rem;
      }
    }
  }

  &__buttons {
    @include flexColumnCenterCenter;
    padding: 0 4rem 4rem 4rem;

    & button {
      width: 100%;
      font-family: "Sora", sans-serif;
      border-radius: 6px;
      border: var(--main-border);
      background-color: #fff;
      font-weight: bold;
      line-height: 1.8rem;
      height: 4.4rem;
      cursor: pointer;
    }
  }

  &__button {
    &--signup {
      border: none !important;
      background-color: var(--color-blue) !important;
      color: #fff !important;
      margin-bottom: 2.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      &:hover {
        transform: translateY(-2px);
      }
    }

    &--account {
      color: var(--color-blue);
      margin-bottom: 2.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      &:hover {
        transform: translateY(-2px);
      }
    }

    &--service {
      flex: 1;
      border: none !important;

      &-container {
        @include flexAlignCenter;
        margin-bottom: 2.5rem;
        width: 100%;
        border: var(--main-border);
        border-radius: 6px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        &:hover {
          transform: translateY(-2px);
        }
      }

      &-image {
        border-radius: 0;
        height: 4.4rem;
        @include flexAlignJustifyCenter;
        flex: 0 0 20%;
        border-right: var(--main-border);
      }
    }
  }
}

select,
select option {
  color: var(--color-gray-subtle-dark);
}
