.subheader {
    &__categories {
      list-style-type: none;
      border-bottom: 1px solid #F5F6F7;
  
      &--item {
        border-bottom: 5px solid transparent;
  
        &-active {
          & a {
            color: var(--color-purple) !important;
            font-weight: 700 !important;
          }
          border-bottom: 3px solid var(--color-purple);
        }
  
        & a {
          text-decoration: none;
          font-size: 14px;
          color: var(--color-dark);
          font-family: "Asap", sans-serif;
        }
      }
    }
  }
  